vivado/*

designs/**/bd/**
!designs/**/bd/*.bd

*.bxml
*.jou
*.log
**/.Xil

*~
*.pdf
*.png
*.root
#*#

**pycache**
*.pyc

**/.svn/

#project list
/pll_external/

#vivado file types
*.xci
*.xcix
*.xpr
*.wpc
*.lpr
*.bat
*.v 
*.obj
*.prf
*.db
*.wdf


*.hex
*.out